.ram-calc {}
.ram-calc_update {position: relative;}
.ram-calc_update:after {content: ''; background: #fafcfc; opacity: 0.6; position: absolute; top: 0; left: 0; width: 100%; height: 100%;}
.ram-calc .adm-detail-content-cell-l {width: 30%; vertical-align: top;}
.ram-calc .adm-detail-content-cell-r {vertical-align: top;}
.ram-calc input[type='text'] {width: 100%; height: 27px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.ram-calc textarea {width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize: none;}
.ram-calc select {width: 100%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; resize: none;}
#bx-admin-prefix .ram-calc .adm-detail-content-item-block-view-tab > table > tbody > tr.heading td {padding: 12px 10px !important;}
.ram-calc__description {color: #888; padding: 5px 0 0;}
.ram-calc__label-wrap {margin-top: 5px;}
.ram-calc__label {display: inline-block;  cursor: pointer;}
.ram-calc .adm-detail-content-cell-r .ram-calc__label-wrap:first-child {margin-top: 0;}
.ram-calc__sortable {cursor: move; display: inline-block; background: url(./sortable.png) 50% 50% no-repeat; width: 26px; height: 29px; vertical-align: top;}
.ram-calc__property-item {margin: 0 0 20px; padding: 11px; background: #fff; border: 1px solid #c5cecf;}
.ram-calc__property-item-header {}
.ram-calc__property-item-header:after {content: ''; display: block; clear: both;}
.ram-calc__property-item-header .ram-calc__sortable {float: left;}
.ram-calc__property-item-title {display: block; float: left; line-height: 29px; font-weight: bold;}
.ram-calc__property-item-links {float: right;}
.ram-calc__property-item-links .adm-btn {margin-left: 10px;}
.ram-calc__property-item-body {margin-top: 10px; display: none;}
.ram-calc__property-item table {width: 100%;}
.ram-calc__property-item .ram-calc__property-item-link-hide {display: none;}
.ram-calc__property-item-opened .ram-calc__property-item-body {display: block;}
.ram-calc__property-item-opened .ram-calc__property-item-link-hide {display: inline-block;}
.ram-calc__property-item-opened .ram-calc__property-item-link-show {display: none;}
#bx-admin-prefix .internal tr.ram-calc__property-item-data-item.ui-sortable-helper td {border-bottom: 1px solid #d0d7d8 !important;}
#bx-admin-prefix .internal.ui-sortable-active {border-bottom: none !important;}
.ram-calc__property-item-data-item .ram-calc__sortable {width: 14px; height: 14px; padding: 10px; margin: -10px;}
.ram-calc__property-item-edit {}
.ram-calc__property-item-edit-input {display: none;}
.ram-calc__property-item-edit-source {cursor: pointer;}
.ram-calc__property-item-edit-source:before {content: ''; background: url(./editable.png) 50% 50% no-repeat; width: 14px; height: 14px; margin-right: 10px; vertical-align: middle; display: inline-block;}
.ram-calc__property-item-data-images {text-align: center;}
.ram-calc__property-item-data-images img {border: 1px solid #d0d7d8; margin: 0 0 5px;}
.ram-calc__property-item-data-images .adm-btn {display: block; margin: 0 0 5px; clear: both; text-align: center;}
.ram-calc__property-item-editable .ram-calc__property-item-edit-input {display: block;}
.ram-calc__property-item-editable .ram-calc__property-item-edit-source {display: none;}
.ram-calc__transparent {opacity: 0.3;}
.ram-calc__iblock-element-selected {display: inline-block; margin-left: 10px; vertical-align: middle;}
.ram-calc__calculation-item {margin: 0 0 20px; padding: 11px; background: #fff; border: 1px solid #c5cecf;}
.ram-calc__calculation-item-header {}
.ram-calc__calculation-item-header:after {content: ''; display: block; clear: both;}
.ram-calc__calculation-item-header .ram-calc__sortable {float: left;}
.ram-calc__calculation-item-title {display: block; float: left; line-height: 29px; font-weight: bold;}
.ram-calc__calculation-item-links {float: right;}
.ram-calc__calculation-item-links .adm-btn {margin-left: 10px;}
.ram-calc__calculation-item-body {margin-top: 10px; display: none;}
.ram-calc__calculation-item table {width: 100%;}
.ram-calc__calculation-item .ram-calc__calculation-item-link-hide {display: none;}
.ram-calc__calculation-item-opened .ram-calc__calculation-item-body {display: block;}
.ram-calc__calculation-item-opened .ram-calc__calculation-item-link-hide {display: inline-block;}
.ram-calc__calculation-item-opened .ram-calc__calculation-item-link-show {display: none;}
.ram-calc__calculation-false {color: #ee2020;}
.ram-calc__condition-item {margin: 0 0 20px; padding: 11px; background: #fff; border: 1px solid #c5cecf;}
.ram-calc__condition-item-header {}
.ram-calc__condition-item-header:after {content: ''; display: block; clear: both;}
.ram-calc__condition-item-header .ram-calc__sortable {float: left;}
.ram-calc__condition-item-title {display: block; float: left; line-height: 29px; font-weight: bold;}
.ram-calc__condition-item-links {float: right;}
.ram-calc__condition-item-links .adm-btn {margin-left: 10px;}
.ram-calc__condition-item-body {margin-top: 10px; display: none;}
.ram-calc__condition-item table {width: 100%;}
.ram-calc__condition-item .ram-calc__condition-item-link-hide {display: none;}
.ram-calc__condition-item-opened .ram-calc__condition-item-body {display: block;}
.ram-calc__condition-item-opened .ram-calc__condition-item-link-hide {display: inline-block;}
.ram-calc__condition-item-opened .ram-calc__condition-item-link-show {display: none;}
.ram-calc__condition-true {color: #20aa20;}
.ram-calc__condition-false {color: #ee2020;}
.ram-calc__condition-actions {position: relative;}
.ram-calc__condition-action select {width: 160px; margin: 0 10px 10px 0;}
.ram-calc__condition-action input[type='text'] {width: 160px; margin: 0 10px 10px 0 !important;}
.ram-calc__condition-action a {margin: 0 0 10px;}
.ram-calc__formula {-webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none;}
.ram-calc__formula:after {clear: both; display: block; content: '';}
.ram-calc__formula-item {float: left; margin: 0 0 5px; line-height: 23px; text-align: center;}
.ram-calc__formula-item-function {}
.ram-calc__formula-item-number {color: #ee2020;}
.ram-calc__formula-item-property {color: #2020ee;}
.ram-calc__formula-item-calculation {color: #20aa20;}
.ram-calc__formula-item-empty {opacity: 0.5;}
.ram-calc__formula-item-empty .ram-calc__formula-item-value {width: 15px; height: 23px; background: url(./empty.png?2) 50% 50% no-repeat;}
.ram-calc__formula-item-empty:first-child:last-child {opacity: 1;}
.ram-calc__formula-item-empty:hover {opacity: 1;}
.ram-calc__formula-item-value {cursor: pointer; padding: 0 4px; min-width: 15px;}
.ram-calc__formula-item-value:hover {background-color: #eee; outline: 1px dashed #aaa;}
.ram-calc .ram-calc__formula-item-value input[type='text'] {padding: 0; height: 23px; display: block; border: none; -webkit-box-shadow: none; -moz-box-shadow: none; box-shadow: none; -webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0; background: none;}
.ram-calc__formula-item-selected {opacity: 1; position: relative;}
.ram-calc__formula-item-selected .ram-calc__formula-item-value {outline: 1px solid #aaa; background-color: #eee;}
.ram-calc__formula-item-hidden {display: none;}
.ram-calc__formula-item-list {outline: 1px solid #aaa; position: absolute; top: 24px; left: 0; background-color: #fff; z-index: 100; max-width: 300px; margin-right: -10000px; text-align: left; -webkit-box-shadow: 2px 2px 4px #aaa; -moz-box-shadow: 2px 2px 4px #aaa; box-shadow: 2px 2px 4px #aaa; line-height: 25px;}
.ram-calc__formula-item-list-right {margin-right: 0; margin-left: -10000px; left: auto; right: 0;}
.ram-calc__formula-item-list-block {display: none; max-height: 200px; overflow-y: auto;}
.ram-calc__formula-item-list a {display: block; text-decoration: none; padding: 0 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;}
.ram-calc__formula-item-list a.ram-calc__formula-item-list-selected {color: #ee2020;}
.ram-calc__formula-item-list a:hover {background-color: #eee; outline: 1px solid #aaa;}
.ram-calc__formula-item-list span {font-weight: bold; display: block; padding: 0 5px; color: #555; background-color: #eee;}
.ram-calc__formula-item-list-block[data-code='function'] a {width: 50px; float: left; text-align: center;}
.ram-calc__formula-item-list-block[data-code='function'] a:first-child {width: auto; float: none; text-align: left;}
.ram-calc__formula-item-edit {outline: 1px solid #aaa; opacity: 1; position: relative; background-color: #eee;}
.ram-calc__formula-result {line-height: 28px;}